<link rel="stylesheet" href="/css/footer.css" />
<footer>
    <div id="footer">
        <a href="/">
            <div>Home</div>
        </a>
        <a href="/options?type=Depart">
            <div>Depart</div>
        </a>
        <a href="/options?type=Hostel">
            <div>Hostel</div>
        </a>
        <a href="/options?type=Club">
            <div>Clubs</div>
        </a>
        <a href="/">
            <div>Events</div>
        </a>
    </div>
</footer>