<link rel="stylesheet" href="/css/event-page.css" />
<div id="main-container">
    <div id="events-container">
        <div id="events-head">
            <div class="head-tab active-tab" id="upcoming-tab" onclick="changeTab('upcoming')">
                Running & Upcoming Event
            </div>
            <div class="head-tab" id="passed-tab" onclick="changeTab('passed')">
                Passed Event
            </div>
        </div>
    </div>

    <div id="upcoming">
        <%if(upcomingOrrunning.length==0){%>
            <div class="no-event-box">No Upcoming or Current Event</div>
            <%}else{%>
                <%-include('./posts',{posts:upcomingOrrunning});-%>
                    <%}%>
    </div>
    <div id="passed">
        <%if(passed.length==0){%>
            <div class="no-event-box">No Passed Event</div>
            <%}else{%>
                <%-include('./posts',{posts:passed});-%>
                    <%}%>
    </div>
</div>

<script src="/js/events.js"></script>