<link rel="stylesheet" href="/css/save_items.css" />
<div id="my-save-items">
    <div id="save-item-headers">
        <div id="img-container">
            <img height="65px" width="65px" style="border-radius: 50%" src="<%=locals.user.pic%>" alt="profile pic" />
        </div>
        <div id="heading">My Save Items</div>
    </div>
    <div id="save-item-container">
        <%if(saveItems.length==0){%>
            <div class="class-item" style="text-align: center; font-size: 18">
                No save item found
            </div>
            <%}%>
                <%for(let item of saveItems){%>
                    <%if(item.refItem){%>

                        <a href="/user/my-save-items-details?target=<%=item.refItem.id%>">
                            <div class="save-item">
                                <%if(item.refItem.photos){%>
                                    <img src="<%=item.refItem.photos[0]%>" height="150px" width="100px" alt="image-pic" />
                                    <%}else {%>
                                        <%=item.refItem.content%>
                                            <%}%>
                            </div>
                        </a>
                        <%}%>
                            <%}%>
    </div>
</div>