<link rel="stylesheet" href="<%=assetPath('css/notice.css')%>" />
<%if(noticeLength==0){%>
    <div id="no-notice" style="margin: auto; font-size: 35; width: fit-content; margin-top: 50px">
        No Notice Found
    </div>
    <%}%>
        <div id="notices"></div>

        <script>
            function loadMoreNoticeButton(lastTime) {
                //console.log(" time is ", lastTime);
                return $(
                    `<button class='load-notice load-on-demand'   time=${lastTime} >Load More Notice</button>`
                );
            }

            function intialLoadNoticeButton() {
                // //console.log("type is ####################### ",type," post is ",postId);
                let loadMoreNoticeBtn = loadMoreNoticeButton(Date.now());
                // $('.like-container').append(loadMoreNoticeBtn);
                $("#notices").append(loadMoreNoticeBtn);
                //no need to
                // addMoreLikes(loadMoreLikeBtn);
            }
            <% if(noticeLength!=0){%>
            intialLoadNoticeButton();
            <%}%>
        </script>