<link rel="stylesheet" href="/css/sign_up_using_link.css" />
<div id="set-new-password-link-container">
    <h2 style="text-align: center; margin-top: 5px">Set New Password Form</h2>
    <form action="/update-password-with-secret" method="POST">
        <input type="hidden" value="<%=secret%>" name="secret" required />
        <input required type="password" name="password" id="" placeholder="New Password *" onfocus="slideup(event)" onfocusout="slidedown(event)" autocomplete="off" />
        <input required type="password" name="confirm_password" id="" placeholder="Confirm Password *" onfocus="slideup(event)" onfocusout="slidedown(event)" autocomplete="off" />
        <button>Update</button>
    </form>
</div>