<div>
    <form action="/create-session" method="POST">
        <input type="email" required name="email" placeholder="Type Email.." />
        <input type="password" required name="password" placeholder="Type password.." />
        <input type="radio" name="tick" value="Student" checked />
        <span>Student</span>
        <input type="radio" name="tick" value="Staff" />
        <span>Staff</span>
        <input type="radio" name="tick" value="Club" />
        <span>Club</span>
        <input type="submit" value="Sign-In" />
    </form>
</div>