<link rel="stylesheet" href="/css/login_page.css" />
<div id="outer">
    <div id="option-container">
        <div id="options">
            <div id="option-page">
                <div class="heading main-heading"></div>
                <div class="heading support-heading"></div>
            </div>
            <div id="content">
                <div class="actual-option left-div-active">
                    <h2 class="option-head left-head">
                        <span onclick="handleTabChange('left',event)">SIGN</span>
                        <sub style="display: block" onclick="handleTabChange('left',event)">IN</sub
            >
          </h2>
        </div>
        <div class="actual-option">
          <h2 class="option-head right-head">
            <span onclick="handleTabChange('right',event)">SIGN</span>
            <sub style="display: block" onclick="handleTabChange('right',event)"
              >UP</sub
            >
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div id="container">
    <div id="ear-container">
      <div class="ear" id="left-ear"></div>

      <div class="ear" id="right-year"></div>
    </div>

    <div id="face">
      <div id="eye-container">
        <div class="eye" id="left-eye">
          <div class="eye-white">
            <div class="eye-manik"></div>
          </div>
        </div>
        <div class="eye" id="right-eye">
          <div class="eye-white">
            <div class="eye-manik"></div>
          </div>
        </div>
      </div>
      <div id="mouth"></div>
    </div>
    <div id="stomach"></div>
    <!-- <div id="feet-container"> -->
    <div class="feet" id="left-feet">
      <div class="feet-finger">
        <div class="little-finger"></div>
        <div class="little-finger"></div>
        <div class="little-finger"></div>
      </div>
      <div class="big-finger"></div>
    </div>
    <div class="feet" id="right-feet">
      <div class="feet-finger">
        <div class="little-finger"></div>
        <div class="little-finger"></div>
        <div class="little-finger"></div>
      </div>
      <div class="big-finger"></div>
    </div>
    <!-- </div> -->
    <div id="slide-container">
      <div id="login-form">
        <!-- Get Otp by email -->
        <!-- <%if(type=='sign-up-send-otp'){%>
        
        <%}else if(type=='sign-up-verify-email') {%> -->

        <!-- verify email -->
        <!-- 
        <%} else if(type=='sign-up-after-email-verified'){%> -->
        <!-- sign up after otp verify -->
        <!-- 
        <%}else{%>
        <div>hbjcd</div>
        <%}%> -->
        <div
          style="
            width: 50%;
            height: auto;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2); ;
          "
        >
          <img
            src="https://www.transparentpng.com/thumb/google-logo/google-logo-png-icon-free-download-SUF63j.png"
            alt="logo"
            height="40px"
            width="40px"
          />
          <span>Google</span>
        </div>
      </div>
      <!-- <div id="hand-container"> -->
      <div class="hand" id="left-hand">
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
      </div>
      <div class="hand" id="right-hand">
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>

<script src="/js/login.js"></script>