<div>
    <h1>This is Sign Up Page</h1>
    <form action="/user/create" method="POST">
        <input type="text" name="name" placeholder="Type Name.." />
        <input type="email" name="email" placeholder="Type Email.." />
        <input type="password" name="password" placeholder="Type password.." />
        <input type="password" name="confirm_password" placeholder="Type Confirm pass.." />
        <input type="submit" value="Sign-Up" />
    </form>
</div>