<link rel="stylesheet" href="/css/team.css" />
<div id="team-contaainer" style="height: auto; width: 100%">
    <div class="container" id="0" tabindex="1" onmouseover="handleFocus('0')" style="
      /* min-height: 300px; */
      width: 100%;

      background: url('https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg')
          10px 40px,
        linear-gradient(150deg, #2f154cdc 65%, #2f154c98 35%);
      background-size: 150px 200px, 100%;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
      color: white;
      padding: 40px;
      box-sizing: border-box;
    ">
        <div class="member-heading" id="heading-0" style="
        word-wrap: break-word;
        overflow: hidden;
        font-size: 35;
        font-weight: 800;
        margin-right: 50px;
        height: auto;
        max-height: 200px;
        box-sizing: border-box;
      ">
            Team Member of AAA group
        </div>
        <div class="member-desc" id="desc-0" style="
        height: 0;
        padding: 0px;
        margin: 0px;
        transition: height 0.5s ease;
        box-sizing: border-box;
      ">
            <div style="
          word-wrap: break-word;
          overflow: hidden;
          margin: 80px 100px 10px 0px;
          font-size: 24;
          font-weight: 10;
          font-weight: 500;
          /* max-height: 250px; */
          height: inherit;
        ">
                describe the working criteria or working writes of member jbfvb jvf jfv jfv jfvb hvf jfv jfnv jfvn jhvf kjfvn jnvf jkfvn
            </div>
        </div>
        <div class="member-name" id="name-0" style="
        height: 0;
        padding: 0px;
        margin: 0px;
        transition: height 0.5s ease;
        box-sizing: border-box;
      ">
            <div style="
          word-wrap: break-word;

          font-weight: 700;
          font-size: 26;
          padding: 50px;
          padding-left: 0px;
          word-wrap: break-word;
          overflow: hidden;
          height: auto;
          /* max-height: 150px; */
          height: inherit;
        ">
                <a href="" style="
            text-decoration: none;
            color: white;
            word-wrap: break-word;
            overflow: hidden;
            display: inline-block;
            height: inherit;
          ">Shivam kumar mittal jindalGupta</a
        >
      </div>
    </div>
  </div>

  <div
    class="container"
    id="1"
    tabindex="1"
    onmouseover="handleFocus('1')"
    style="
      /* min-height: 300px; */
      width: 100%;

      background: url('https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg')
          10px 40px,
        linear-gradient(150deg, #2f154cdc 65%, #2f154c98 35%);
      background-size: 150px 200px, 100%;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
      color: white;
      padding: 40px;
      box-sizing: border-box;
    "
  >
    <div
      class="member-heading"
      id="heading-1"
      style="
        word-wrap: break-word;
        overflow: hidden;
        font-size: 35;
        font-weight: 800;
        margin-right: 50px;
        height: auto;
        max-height: 200px;
        box-sizing: border-box;
      "
    >
      Team Member of AAA group
    </div>
    <div
      class="member-desc"
      id="desc-1"
      style="
        height: 0;
        padding: 0px;
        margin: 0px;
        transition: height 0.5s ease;
        box-sizing: border-box;
      "
    >
      <div
        style="
          word-wrap: break-word;
          overflow: hidden;
          margin: 80px 100px 10px 0px;
          font-size: 24;
          font-weight: 10;
          font-weight: 500;
          /* max-height: 250px; */
          height: inherit;
        "
      >
        describe the working criteria or working writes of member jbfvb jvf jfv
        jfv jfvb hvf jfv jfnv jfvn jhvf kjfvn jnvf jkfvn
      </div>
    </div>
    <div
      class="member-name"
      id="name-1"
      style="
        height: 0;
        padding: 0px;
        margin: 0px;
        transition: height 0.5s ease;
        box-sizing: border-box;
      "
    >
      <div
        style="
          word-wrap: break-word;

          font-weight: 700;
          font-size: 26;
          padding: 50px;
          padding-left: 0px;
          word-wrap: break-word;
          overflow: hidden;
          height: auto;
          /* max-height: 150px; */
          height: inherit;
        "
      >
        <a
          href=""
          style="
            text-decoration: none;
            color: white;
            word-wrap: break-word;
            overflow: hidden;
            display: inline-block;
            height: inherit;
          "
          >Shivam kumar mittal jindalGupta</a
        >
      </div>
    </div>
  </div>
  <div
    class="container"
    id="2"
    tabindex="1"
    onmouseover="handleFocus('2')"
    style="
      /* min-height: 300px; */
      width: 100%;

      background: url('https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg')
          10px 40px,
        linear-gradient(150deg, #2f154cdc 65%, #2f154c98 35%);
      background-size: 150px 200px, 100%;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
      color: white;
      padding: 40px;
      box-sizing: border-box;
    "
  >
    <div
      class="member-heading"
      id="heading-2"
      style="
        word-wrap: break-word;
        overflow: hidden;
        font-size: 35;
        font-weight: 800;
        margin-right: 50px;
        height: auto;
        max-height: 200px;
        box-sizing: border-box;
      "
    >
      Team Member of AAA group
    </div>
    <div
      class="member-desc"
      id="desc-2"
      style="
        height: 0;
        padding: 0px;
        margin: 0px;
        transition: height 0.5s ease;
        box-sizing: border-box;
      "
    >
      <div
        style="
          word-wrap: break-word;
          overflow: hidden;
          margin: 80px 100px 10px 0px;
          font-size: 24;
          font-weight: 10;
          font-weight: 500;
          /* max-height: 250px; */
          height: inherit;
        "
      >
        describe the working criteria or working writes of member jbfvb jvf jfv
        jfv jfvb hvf jfv jfnv jfvn jhvf kjfvn jnvf jkfvn
      </div>
    </div>
    <div
      class="member-name"
      id="name-2"
      style="
        height: 0;
        padding: 0px;
        margin: 0px;
        transition: height 0.5s ease;
        box-sizing: border-box;
      "
    >
      <div
        style="
          word-wrap: break-word;

          font-weight: 700;
          font-size: 26;
          padding: 50px;
          padding-left: 0px;
          word-wrap: break-word;
          overflow: hidden;
          height: auto;
          /* max-height: 150px; */
          height: inherit;
        "
      >
        <a
          href=""
          style="
            text-decoration: none;
            color: white;
            word-wrap: break-word;
            overflow: hidden;
            display: inline-block;
            height: inherit;
          "
          >Shivam kumar mittal jindalGupta</a
        >
      </div>
    </div>
  </div>

  <div
    class="container"
    id="3"
    tabindex="1"
    onmouseover="handleFocus('3')"
    style="
      /* min-height: 300px; */
      width: 100%;

      background: url('https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg')
          10px 40px,
        linear-gradient(150deg, #2f154cdc 65%, #2f154c98 35%);
      background-size: 150px 150px, 100%;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
      color: white;
      padding: 40px;
      box-sizing: border-box;
    "
  >
    <div
      class="member-heading"
      id="heading-3"
      style="
        word-wrap: break-word;
        overflow: hidden;
        font-size: 35;
        font-weight: 800;
        margin-right: 50px;
        height: auto;
        max-height: 200px;
        box-sizing: border-box;
      "
    >
      Team Member of AAA group
    </div>
    <div
      class="member-desc"
      id="desc-3"
      style="
        height: 0;
        max-height: 200px;
        padding: 0px;
        margin: 0px;
        transition: height 0.5s ease;
        box-sizing: border-box;
      "
    >
      <div
        style="
          word-wrap: break-word;
          overflow: hidden;
          margin: 80px 100px 10px 0px;
          font-size: 24;
          font-weight: 10;
          font-weight: 500;
          /* max-height: 250px; */
          height: inherit;
        "
      >
        describe the working criteria or working writes of member jbfvb jvf jfv
        jfv jfvb hvf jfv jfnv jfvn jhvf kjfvn jnvf jkfvn mvfb kvn vn kn jvf kfv
        kjvhfj kjvf jvf kjfv kjfhn jhvf jh jhvdnjkhdkn kjvhd kjvh jvhdn jkf
        mfjhvjfvn jifvn jfv jvf vfb jknvfm jfn jn jvnfnfjkn jfn vfv fvf bvh
      </div>
    </div>
    <div
      class="member-name"
      id="name-3"
      style="
        height: 0;
        max-height: 150px;
        padding: 0px;
        margin: 0px;
        transition: height 0.5s ease;
        box-sizing: border-box;
      "
    >
      <div
        style="
          word-wrap: break-word;

          font-weight: 700;
          font-size: 26;
          padding: 25px;
          padding-left: 0px;
          word-wrap: break-word;
          overflow: hidden;
          height: auto;
          /* max-height: 150px; */
          height: inherit;
        "
      >
        <a
          href=""
          style="
            text-decoration: none;
            color: white;
            word-wrap: break-word;
            overflow: hidden;
            display: inline-block;
            height: inherit;
          "
          >Shivam kumar mittal jindalGupta</a
        >
      </div>
    </div>
  </div>
</div>

<script>
  function handleFocus(id) {
    console.log("runnning ", id);
    document.querySelectorAll(".member-desc").forEach((item) => {
      item.style.height = "0px";
      item.style.opacity = "0";
    });
    document.querySelectorAll(".member-name").forEach((item) => {
      item.style.height = "0px";
      item.style.opacity = "0";
    });
    document.querySelectorAll(".member-heading").forEach((item) => {
      item.style.width = "80%";
    });
    // document.getElementById("heading-0").style.display = "block";
    document.getElementById("name-" + id).style.opacity = "1";
    document.getElementById("desc-" + id).style.opacity = "1";
    document.getElementById("name-" + id).style.height = "82px";
    document.getElementById("desc-" + id).style.height = "initial";
    document.getElementById("heading-" + id).style.width = "100%";

    // document.getElementById("0").style.height = "1200px";
  }
</script>