<div style="
    background-color: rgba(34, 33, 33, 0.842) !important;
    color: white !important;
    font-size: 15px;
    padding: 10px;
  ">
    <%-include('../mail_header');-%>
        <div>
            <h2 style="text-transform: capitalize; text-align: center">
                Don't miss an opportunity or update
            </h2>
            <p style="text-align: center">
                a new post is added recently check it first
            </p>
            <p style="text-align: center; color: aqua">post link is given below</p>
            <div>
                <a href="fdfdfd">
                    <img src="ds" alt="post" height="40px" width="40px" />
                </a>
                <p>
                    <img src="<%=post.creator.pic%>" alt="" height="40px" width="40px" />
                </p>
            </div>
        </div>

        <%-include('../mail_footer');-%>
</div>