.comment-container {
    width: 100%;
    background-color: white;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    display: none;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.4;
    &:hover {
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    }
    transition: 0.4;
    #comment-head {
        color: rgb(77, 77, 236);
        padding: 10px 0px 0px 10px;
        font-size: 17;
    }
    .comments {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        width: 100%;
        .comment {
            padding: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-shadow: 0px 0.4px 0.4px 0.4px rgba(0, 0, 0, 0.2);
            transition: 0.4;
            margin-top: 15px;
            width: 100%;
            box-sizing: border-box;
            &:hover {
                box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
            }
            .upper-div-1,
            .upper-div-2 {
                display: flex;
                flex-direction: row;
                div {
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                    span {
                        overflow-wrap: break-word;
                        max-width: 85%;
                    }
                }
            }
            .upper-div-1 {
                width: 80%;
                max-width: 80%;
            }
            .upper-div-2 {
                div {
                    align-items: center;
                }
            }
        }
    }
}