#main-container {
    position: relative;
    top: 0px;
    width: 37%;
    min-width: 400px;
    margin: auto;
    div {
        position: relative;
    }
    #events-container {
        background-color: rgba(131, 128, 128, 0.52);
        position: relative;
        width: 100%;
        margin: auto;
        top: -15px;
        height: auto;
        box-shadow: 0px 3px 3px 3px rgba(48, 47, 47, 0.479);
        #events-head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            padding: 0px;
            margin: 0px;
            width: 100%;
            div {
                width: 50%;
                font-weight: 800;
                font-size: 19;
                padding: 15px;
                margin: 1px;
                text-align: center;
                &:hover {
                    border-bottom: 3px solid black;
                }
            }
            .active-tab {
                background-color: rgba(88, 88, 88, 0.74);
                border-bottom: 3px solid black;
                color: white;
            }
        }
    }
    #passed {
        display: none;
    }
}

.no-event-box {
    position: relative;
    top: 20%;
    text-align: center;
    font-size: 22;
    font-weight: 800;
    color: rgb(95, 22, 22);
}