// header {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     padding: 4px;
//     margin: 0px;
//     background-color: rgb(233, 233, 233);
//     #search-container {
//         form {
//             padding: 0px;
//             margin: 0px;
//         }
//     }
//     #right-div {
//         ul {
//             display: flex;
//             flex-direction: row;
//             list-style-type: none;
//             align-items: center;
//             padding: 0px;
//             margin: 0px;
//             li {
//                 padding-right: 4px;
//             }
//             a {
//                 text-decoration: none;
//             }
//         }
//     }
//     img {
//         border-radius: 50%;
//         height: 35px;
//         width: 35px;
//     }
// }
header {
    width: 100%;
    min-width: 350px;
    position: fixed;
    display: flex;
    flex-direction: row;
    color: black;
    z-index: 999999999;
    background-color: white;
    box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 0.2);
    padding: 2px;
    margin: 0px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.left-div {
    // width: 30%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div {
        padding: 0px 4px 0px 4px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        form {
            padding: 0px;
            margin: 0px;
        }
    }
}

.mid-div,
.right-div {
    width: 40%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a {
        text-decoration: none;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0.85;
            padding: 2px 10px 2px 10px;
            color: rgba(48, 46, 46, 0.781);
            span {
                font-size: 12;
            }
            &:hover {
                opacity: 1;
                border-bottom: 2px solid black;
                color: black;
            }
        }
    }
    .current-active {
        opacity: 1;
        border-bottom: 2px solid red;
        color: black;
    }
}

.right-div {
    width: 30%;
    width: fit-content;
    height: auto;
    a {
        div {
            opacity: 1;
            span {
                font-size: 16;
                opacity: 1;
                color: black;
            }
        }
    }
}

.mid-div {
    width: 40%;
}

#search-form {
    input {
        outline: none !important;
        border: none !important;
        &:hover {
            outline: 1px solid aqua;
        }
    }
}