#page-content-container {
    width: 60%;
    max-width: 60%;
    min-width: 355px;
    display: flex;
    margin: auto;
    background-color: white;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    a {
        text-decoration: none;
        color: black;
        .page-content-box {
            width: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
            &:hover {
                background-color: rgba(95, 158, 160, 0.233);
            }
            .page-content {
                display: flex;
                flex-direction: column;
                word-wrap: break-word;
                padding: 10px;
                width: 72%;
                min-width: 72%;
                div {
                    border: none;
                    width: 94%;
                    max-width: 94%;
                }
            }
        }
    }
}