.toUpdatepoll,
.toUpdatealert,
.toUpdatenotice {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    top: 14px;
    z-index: 1;
    transition: all 0.2s linear;
    right: 14px;
    background-color: white;
    color: black;
    height: fit-content;
    width: fit-content;
    box-shadow: none;
    cursor: pointer;
    a {
        text-decoration: none;
        color: black;
        font-size: 24;
        padding: 4px;
        box-sizing: border-box;
        box-shadow: none;
        background-color: transparent;
        // box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
        // img {
        //     box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
        // }
    }
}

.toUpdatealert {
    right: 10.5px;
}

.toUpdatenotice {
    top: -2px;
    right: 0px;
}

.poll-edit-link,
.alert-edit-link,
.notice-edit-link {
    transition: all 0.3s ease-in-out;
    padding: 0;
    border-radius: 50%;
    color: black;
    // background-color:red;  text-decoration: none;
    font-size: 30;
    font-weight: 900;
    padding: 2px;
    cursor: pointer;
    &:hover {
        background-color: white;
        padding: 2px 16px 2px 16px;
        span {
            color: black;
        }
    }
}

#no-internet {
    position: fixed;
    top: 2px;
    margin: auto;
    /* trick to make absolute/fixed position in center */
    left: 50%;
    margin-left: -200px;
    width: 380px;
    height: auto;
    padding: 4px 10px 4px 10px;
    background-color: rgb(255, 179, 38);
    z-index: 454454545;
    color: white;
    font-weight: 500;
    vertical-align: middle;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.toggle-container {
    background-color: rgb(204, 196, 196);
    width: 66px;
    height: 26px;
    border-radius: 22px;
    padding: 1.5px;
    position: relative;
    cursor: pointer;
}

.toggle-container-active {
    background-color: rgb(63, 107, 240);
}

.toggle-btn {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left: 0px;
    transition: all 0.3s;
    transition-delay: 0s;
}

.toggle-btn-active {
    left: 40px !important;
}

.disable_btn {
    background-color: rgb(124, 124, 124) !important;
    pointer-events: none;
    border-color: rgb(124, 124, 124) !important;
    opacity: 0.8;
    button {
        border-color: rgb(124, 124, 124) !important;
        background-color: rgb(124, 124, 124) !important;
    }
}

.disable_btn_without_back {
    opacity: 0.8;
    pointer-events: none !important;
}

.lock_form_without_background {
    opacity: 0.8;
    pointer-events: none !important;
}

.loader {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 120px !important;
    margin: 0px auto 0px auto !important;
    padding: 0px !important;
    opacity: 1 !important;
    z-index: 565556;
}

.loader-content {
    font-size: 12;
    padding: 0px;
    opacity: inherit;
    color: black !important;
}

.loading {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 4px !important;
    padding: 6px !important;
    opacity: inherit;
    // background-color: aqua !important;
    // align-items: space-between !important;
}

.loading-box {
    height: 12px !important;
    width: 12px !important;
    background-color: rgb(139, 139, 139) !important;
    margin: 0px 8px 0px 8px !important;
    padding: 0px !important;
    opacity: inherit;
}

.active-loading {
    background-color: rgb(53, 53, 53) !important;
    opacity: 1 !important;
}

.triple-line {
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: center;
    color: black;
    font-size: 32;
    font-weight: 900;
    position: absolute;
    left: 10px;
    cursor: pointer;
    &:hover {
        background-color: rgb(193, 231, 243);
    }
}

@media only screen and (max-width: 950px) {
    // body {
    //     background-color: #6afd08;
    // }
    // .post {
    //     background-color: lightblue !important;
    //     justify-content: flex-end !important;
    // }
    // #upcoming-events {
    //     // position: absolute;
    //     top: 500px;
    //     left: 700px !important;
    // }
}

#wrapper {
    // width: 400px;
    height: auto;
    // overflow: hidden;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.left-options {
    position: fixed;
    width: auto;
    top: 44px !important;
    z-index: 999;
    left: -100px;
    height: 100%;
    overflow: auto;
    // background-color: black;
    background-color: white;
    /* min-width: 150px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    animation-delay: 0ms;
}

.left-view-header-option {
    flex-direction: column !important;
    min-height: 400px !important;
    width: auto !important;
    margin-top: 15px;
    // background-color: aqua;
}

.left-view-header-option2 {
    flex-direction: column !important;
    height: auto !important;
    width: auto !important;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 100px !important;
    align-items: flex-start !important;
    justify-content: space-between;
    // background-color: blueviolet;
    .header-user-name {
        display: none;
    }
    .header-day-night {
        display: none;
    }
    .toggle-container {
        margin-top: 15px;
        margin-bottom: 100px;
    }
}

//comment css
.comment-container {
    width: 100%;
    background-color: white;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    display: none;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.4;
    &:hover {
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    }
    transition: 0.4;
    .comment-head {
        color: rgb(77, 77, 236);
        padding: 10px 0px 0px 10px;
        font-size: 17;
    }
    .comments {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        width: 100%;
        position: relative;
        .comment {
            padding: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // box-shadow: 0px 0.4px 0.4px 0.4px rgba(0, 0, 0, 0.2);
            transition: 0.4;
            margin-top: 15px;
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
            position: relative;
            &:hover {
                box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
            }
            .upper-div-1,
            .upper-div-2 {
                display: flex;
                flex-direction: row;
                max-width: 80%;
                overflow: hidden;
                div {
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    box-sizing: border-box;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                    .edit-comment {
                        padding: 1.5px;
                        transition: all 0.3s ease-in-out;
                        border-radius: 50%;
                        font-size: 28;
                        font-weight: 900;
                        cursor: pointer;
                        z-index: 2;
                        &:hover {
                            padding: 1.5px 15px 1.5px 15px;
                            background: black;
                            color: white;
                        }
                    }
                }
            }
            .upper-div-1 {
                width: 80%;
                max-width: 80%;
                a {
                    width: 12%;
                    min-width: 45px;
                    &:hover {
                        img {
                            border: 1px solid rgb(37, 185, 243);
                        }
                    }
                }
                div {
                    width: 80%;
                    max-width: 80%;
                    overflow: hidden;
                    box-sizing: border-box;
                    .comment-content {
                        overflow-wrap: break-word;
                        min-width: 100% !important;
                    }
                }
            }
            .upper-div-2 {
                position: relative;
                div {
                    align-items: center;
                }
            }
            .toUpdateComment {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0px;
                z-index: 1;
                transition: all 0.2s linear;
                right: 0px;
                background-color: white;
                color: black;
                height: auto;
                width: auto;
                box-shadow: none;
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 24;
                    padding: 4px;
                    box-sizing: border-box;
                    box-shadow: none;
                    // box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
                    // img {
                    //     box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
                    // }
                }
            }
        }
    }
}

.load-on-demand {
    visibility: hidden !important;
    // opacity: 0;
}

//style for new creator account
#request-new-creator-account-container {
    z-index: 99999;
    position: fixed;
    top: 60px;
    right: 10px;
    height: auto;
    min-width: 360px;
    width: 400px;
    box-sizing: border-box;
    overflow: hidden;
    color: black;
    background-color: aqua;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    #form-container {
        margin: auto;
        padding: 15px;
        form {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: space-evenly;
            .main-input {
                margin: 10px 0px 10px 0px;
                border-radius: 5px;
                height: 35px;
                border: none;
                outline-color: royalblue;
                padding-left: 5px;
            }
            #button-input-div {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
            button {
                background-color: royalblue;
                border-color: royalblue;
                cursor: pointer;
                border-radius: 25px;
                color: white;
                padding: 5px 15px 5px 15px;
                font-size: 18;
                margin-top: 10px;
                letter-spacing: 1.5;
                &:hover {
                    background-color: rgb(25, 82, 252);
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    /* For mobile phones: */
    #request-new-creator-account-container {
        width: 95%;
        margin: auto;
    }
    #toggle-account-option {
        width: 100% !important;
        right: 0px !important;
        bottom: 0px !important;
        margin: auto !important;
        top: auto !important;
    }
}

.no_display {
    display: none !important;
}

.active_display {
    display: block;
}

#toggle-account-option {
    border-radius: 4px;
    position: fixed;
    top: 60px;
    right: 50px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    z-index: 9999;
    background-color: rgb(61, 61, 61);
    color: white;
    a {
        color: white;
        width: 100%;
        box-sizing: border-box;
        text-decoration: none;
        &:hover {
            background-color: rgba(127, 255, 212, 0.226);
        }
        div {
            box-sizing: border-box;
        }
    }
}