#home-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly !important;
    align-items: flex-start !important;
    padding: 0px 10px 50px 10px;
    box-sizing: border-box;
    /* background-color: aqua; */
    position: relative;
}

#home-content-container {
    width: 38%;
    min-width: 400px;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    .new-post {
        width: 100%;
        min-width: 100%;
        position: relative;
        background-color: white;
        margin: 0px 0px 10px 0px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
        transition: 0.4;
        &:hover {
            box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
        }
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px;
            a {
                padding: 5px;
                text-decoration: none;
                color: black;
                #profile-pic {
                    border: none;
                    &:hover {
                        border: 1px solid turquoise;
                    }
                }
            }
        }
        .div-2 {
            max-width: 100%;
            justify-content: space-evenly;
            flex-wrap: wrap;
            a {
                opacity: 0.8;
                &:hover {
                    border-bottom: 2px solid black;
                    opacity: 1;
                }
            }
        }
    }
    #alerts,
    #polls {
        width: 100%;
        min-width: 100%;
        margin: 0px 0px 10px 0px;
        position: relative;
        border-radius: 12px;
        // background-color: transparent;
        background-color: white;
        height: auto;
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
        transition: 0.4;
        &:hover {
            box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
        }
        // padding: 10px 0px 10px 0px;
        .alert {
            max-width: 100%;
            background-color: rgb(212, 101, 101);
            padding: 15px;
            margin: 10px 5px 10px 5px;
            border-bottom-right-radius: 22px;
            position: relative;
            color: white;
            height: auto;
            overflow-wrap: break-word;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            &:hover {
                box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
            }
            .alert-logo {
                display: flex;
                justify-content: center;
                align-content: center;
                width: 15%;
                padding: 0px 10px 0px 0px;
            }
            .alert-content {
                width: 68%;
                max-width: 68%;
                overflow-wrap: break-word;
                padding: 2px;
                box-sizing: border-box;
            }
            .alert-cut {
                width: auto;
                color: white;
                font-size: 16;
                display: flex;
                justify-content: flex-end;
                font-weight: 900;
                // height: 16px;
                height: fit-content;
                width: fit-content;
                overflow: hidden;
                padding: 5px;
                &:hover {
                    color: blue;
                    font-size: 18;
                    // height: 18;
                    height: fit-content;
                }
            }
        }
        .poll {
            max-width: 100%;
            background-color: rgba(255, 217, 2, 0.699);
            padding: 15px 0px 25px 0px;
            margin: 10px;
            border-radius: 22px;
            position: relative;
            color: white;
            height: auto;
            overflow-wrap: break-word;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            font-size: 18;
            font-weight: 600;
            &:hover {
                box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
            }
            .poll-question {
                text-align: center;
                color: darkslategrey;
                margin-bottom: 10px;
                width: 100%;
                text-transform: uppercase;
                padding: 2px;
                box-sizing: border-box;
            }
            .poll-options {
                background-color: transparent;
                margin: auto;
                // background-color: red;
                display: flex;
                flex-direction: row;
                width: 80%;
                max-width: 100%;
                height: auto;
                background-color: whitesmoke;
                align-items: center;
                box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
                border-radius: 15px;
                a {
                    background-color: inherit;
                    width: 50%;
                    max-width: 50%;
                    min-width: 50%;
                    overflow-wrap: break-word;
                    text-align: center;
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    box-sizing: border-box;
                    font-size: 18;
                    border: none;
                    margin: 0px;
                    border-radius: 15px;
                    height: inherit; // background-color: red;
                    &:hover {
                        font-size: 21;
                        background-color: rgba(102, 51, 153, 0.425);
                    }
                    div {
                        padding: 10px;
                        margin: 0px;
                        width: 100%;
                        box-sizing: border-box;
                        background-color: transparent;
                    }
                    .yes-option {
                        // color: lightgreen;
                        // background-color: rgba(44, 105, 44, 0.178);
                        // border-top-left-radius: 15px;
                        // border-bottom-left-radius: 15px;
                        color: #6afd08;
                    }
                    .no-option {
                        // border-top-right-radius: 15px;
                        // border-bottom-right-radius: 15px;
                        color: #e77204;
                        // color: rgb(190, 92, 74);
                    }
                }
                .left_poll {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
                .right_poll {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
            }
        }
    }
}

// .home {
//     // display: flex;
//     // flex-direction: column;
//     // width: 37%;
//     // margin: auto;
//     // position: relative;
//     .new-post {
//         background-color: white;
//         margin: 10px 0px 10px 0px;
//         display: flex;
//         flex-direction: column;
//         box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
//         transition: 0.4;
//         &:hover {
//             box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
//         }
//         div {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             padding: 5px;
//             a {
//                 padding: 5px;
//                 text-decoration: none;
//                 color: black;
//                 #profile-pic {
//                     border: none;
//                     &:hover {
//                         border: 1px solid blue;
//                     }
//                 }
//             }
//         }
//         .div-2 {
//             max-width: 100%;
//             justify-content: space-evenly;
//             flex-wrap: wrap;
//             a {
//                 opacity: 0.8;
//                 &:hover {
//                     border-bottom: 2px solid black;
//                     opacity: 1;
//                 }
//             }
//         }
//     }
// }
#profile-view {
    // position: absolute;
    position: relative;
    // right: 12%;
    // top: 90px;
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    overflow: hidden;
    div {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
        padding: 8px;
        box-sizing: border-box;
        max-width: 100%;
        overflow-wrap: break-word;
    }
    #profile-info {
        margin-top: -40px;
        justify-content: center;
        align-items: center;
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            box-sizing: border-box;
            overflow-wrap: break-word;
            &:hover {
                border-bottom: 2px solid purple;
            }
        }
    }
    #info-options {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        a {
            text-decoration: none;
            color: black;
        }
        #part-1,
        #part-2 {
            display: flex;
            flex-direction: column;
            box-shadow: 0px 0px 1.5px 0px rgba(0, 0, 0, 0.2);
            padding: 15px 0px 0px 0px;
            div {
                display: flex;
                flex-direction: row;
                box-shadow: none;
                justify-content: space-between;
                align-items: center;
                padding: 12px 16px 12px 16px;
                &:hover {
                    background-color: rgba(56, 94, 95, 0.288);
                }
            }
        }
    }
}

#upcoming-events {
    // position: absolute;
    position: relative;
    // left: 10%;
    // top: 90px; //85px+5px
    width: 20%;
    height: auto;
    min-width: 250px;
    overflow: auto;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.4;
    margin-bottom: 10px;
     ::-webkit-scrollbar {
        width: 5px !important;
        /* width of the entire scrollbar */
    }
     ::-webkit-scrollbar-track {
        /* background: orange; */
        // background: royalblue;
        /* color of the tracking area */
    }
     ::-webkit-scrollbar-thumb {
        /* background-color: blue; */
        /* color of the scroll thumb */
        border-radius: 35px !important;
        background-color: darkgrey !important;
        // background-color: rgba(65, 105, 225, 0.719);
        /* roundness of the scroll thumb */
        /* border: 3px solid orange; */
        /* creates padding around scroll thumb */
    }
    &:hover {
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    }
    #all_event {
        height: auto;
        max-height: 0px;
        overflow: auto;
        transition: max-height 1s ease-in-out;
    }
    #event-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        // background-color: red;
        font-size: 16;
        padding: 10px;
        a {
            text-decoration: none;
            &:hover {
                border-bottom: 2px solid black;
                color: royalblue;
                font-size: 16.4;
            }
        }
    }
    a {
        text-decoration: none;
        color: black;
        .event-type {
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            border-bottom: 1px solid gray;
            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                span {
                    padding: 0px 4px 0px 4px;
                    font-size: 18;
                }
                img {
                    background-color: transparent;
                }
            }
            img {
                color: yellow;
                background-color: transparent;
            }
        }
    }
    .event-detail {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
        padding: 10px;
        div {
            display: flex;
            flex-direction: row;
            padding: 2px;
            align-items: center;
        }
    }
}

//poll-edit-link styling shift to home_layout