#likes-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 37%;
    margin: auto !important;
    max-width: 37%;
    min-width: 360px;
    // position: relative;
    top: 10.5%;
    background-color: white;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.4;
    box-sizing: border-box;
    &:hover {
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    }
    h1 {
        color: rgb(94, 94, 241);
        font-size: 18;
        text-align: center;
        border-bottom: 1px solid rgb(202, 196, 196);
    }
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between !important;
        padding: 10px;
        // margin: 1px !important;
        background-color: white;
        div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 5px;
            align-items: center;
            color: black;
            max-width: 100%;
            box-shadow: none;
            div {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                box-shadow: none;
            }
            button {
                // background-color: royalblue;
                // border-color: white;
                // padding: 8px 16px 8px 16px;
                // color: white;
                // font-weight: 700;
                // &:hover {
                //     background-color: blue;
                // }
                position: relative;
                padding: 8px 16px 8px 16px;
                background-color: rgba(65, 105, 225, 0.89);
                border-color: rgba(65, 105, 225, 0.788);
                color: white;
                font-size: 16;
                font-weight: 600;
                border-radius: 5px;
                &:hover {
                    background-color: rgb(34, 79, 214);
                }
            }
        }
    }
}

button {
    background-color: royalblue;
    border-color: white;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: 700;
    margin: 1px;
    &:hover {
        background-color: rgb(34, 34, 207);
    }
}

.like-by {
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.4;
    &:hover {
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    }
}

.liked-user-link {
    &:hover {
        img {
            border: 1px solid rgb(3, 250, 238);
        }
    }
}