#outer {
    height: 500px;
    height: auto;
    width: auto;
    max-width: 740px;
    min-width: 380px;
    top: 50px;
    display: flex;
    border: 2px solid rgb(255, 0, 85);
    position: relative;
    margin: auto !important;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 85);
    flex-wrap: wrap;
    background-color: brown;
    border-color: brown;
    overflow: hidden;
    // max-height: 1000px;
}

#option-container,
#container {
    height: 500px;
    width: 500px;
    // min-height: 500px;
    min-width: 500px !important;
    border: none;
    position: relative;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: inherit;
}

#option-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    max-width: 220px;
    min-width: 220px;
    overflow: hidden;
    position: relative;
}

#option-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100% !important;
    height: 400px;
    overflow: hidden;
    display: flex;
    // justify-content: center;
    // align-items: center;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: none;
    background-color: inherit;
}

#options {
    height: 370px;
    width: 210px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#option-page {
    background-color: white;
    background-image: url("/uploads/users/member/boat_image.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 310px;
    height: 310px;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    position: relative;
    border-radius: 15px 15px 200px 200px;
    z-index: 4;
}

.heading {
    height: auto;
    max-width: 100%;
    margin: auto;
    text-align: center;
    color: black;
    color: rgb(5, 109, 255);
}

.main-heading {
    top: 50px;
    font-size: 23;
    padding: 5px;
    font-weight: 800;
    text-transform: uppercase;
}

.support-heading {
    top: 10px;
    font-size: 13;
    font-weight: 400;
    padding: 10px;
    margin: auto;
}

#content {
    position: absolute;
    height: 100%;
    width: 100%;
    // background-color: red;
    // top: 250px;
    // height: 120px;
    // // border-start-end-radius: 30%;
    // border-top-left-radius: 30%;
    display: flex;
    justify-content: space-between;
    // background-color: orangered;
}

.actual-option {
    width: 102px;
    position: relative;
    width: 50%;
    height: 100%;
    background: white;
    color: greenyellow;
    transition: all 0.3s linear;
}

.option-head {
    color: #748194;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: auto;
    cursor: pointer;
    left: 20%;
    padding-bottom: 5px;
}

.left-head {
    color: #ee9ba3;
}

.left-div-active {
    z-index: 2;
    box-shadow: 5px 0 18px -10px #333;
}

.right-div-active {
    box-shadow: -5px 0 15px -10px #333;
    z-index: 2;
}

#ear-container {
    position: relative;
    height: 64px;
    width: 200px;
    /* background-color: yellow; */
    margin: auto;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: space-between;
}

.ear {
    height: 50px;
    width: 50px;
    border: 7px solid white;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

#face {
    height: 150px;
    width: 150px;
    background-color: white;
    position: relative;
    border-radius: 50%;
    margin: auto;
    margin-top: -60px;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
}

#eye-container {
    height: 85px;
    width: 100px;
    /* background-color: chartreuse; */
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    top: 35px;
    box-sizing: border-box;
    /* padding: 10px; */
}

.eye {
    height: 70px;
    width: 40px;
    background-color: black;
    position: relative;
    border-radius: 50% 50% 45% 40%;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
}

#mouth {
    background-color: black;
    width: 55px;
    height: 25px;
    border-radius: 40%;
    position: relative;
    top: 25px;
    margin: auto;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
}

#stomach {
    height: 215px;
    width: 250px;
    margin: auto;
    position: relative;
    background-color: greenyellow;
    border-radius: 35%;
    background-color: white;
    box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.2);
}

// #feet-container {
//     position: relative;
//     width: 320px;
//     margin: auto;
//     display: flex;
//     z-index: 5;
//     margin-top: -85px;
//     justify-content: space-between;
//     align-items: space-between;
// }
.feet {
    background-color: black;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 55%;
    border-bottom-right-radius: 55%;
    height: 90px;
    width: 60px;
    display: flex;
    padding: 8px;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    margin-top: -85px;
    z-index: 6;
}

#left-feet {
    left: 90px;
}

#right-feet {
    right: 90px;
}

#hand-container {
    position: absolute;
    width: 376px;
    z-index: 4;
    // height: 25px;
    margin: auto;
    // position: relative;
    // width: inherit;
    z-index: 1;
    top: 150px;
    // background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    top: 70px;
    left: -13px;
}

.hand {
    position: absolute;
    z-index: 4;
    top: 70px;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
}

#left-hand {
    left: -13px;
}

#right-hand {
    right: -13px;
}

.finger {
    border-radius: 5px;
    height: 15px;
    width: 30px;
    z-index: 5;
    background-color: black;
}

#slide-container {
    width: 350px;
    height: 223px;
    position: absolute;
    top: 175px;
    left: 75px;
    background-color: brown;
    z-index: 2;
    background-color: transparent;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgb(10, 121, 0);
    // width: 350px;
    // height: 223px;
    // position: relative;
    // background-color: rgb(148, 144, 144);
    background-color: rgb(236, 236, 236);
    // background-color: transparent;
    color: black;
    width: inherit;
    height: inherit;
    // background-color: lawngreen;
    z-index: 3;
    position: absolute;
    #google-with {
        justify-content: center;
        align-items: center;
        width: 50%;
        height: auto;
        margin: auto;
        display: flex;
        text-decoration: none;
        background-color: transparent;
        background-color: white;
        color: black;
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
        span {
            margin: 0px 5px 0px 5px;
        }
        &:hover {
            background-color: rgba(95, 158, 160, 0.062);
        }
    }
    form {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 0px;
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        span {
            margin: auto;
        }
        .forgot-link {
            position: relative;
            right: 0px !important;
            text-align: right !important;
            margin: 0px;
            color: royalblue;
            padding: 2px;
            width: fit-content;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        button {
            margin: auto;
            height: 40px;
            width: 150px;
            color: white;
            background: royalblue;
            border-radius: 25px;
            border: none;
            margin-top: 10px;
            margin-bottom: 5px;
            box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
            font-size: 17;
            text-transform: capitalize;
            cursor: pointer;
            &:hover {
                background-color: rgb(34, 85, 238);
            }
        }
        #otp-button {
            width: 70px;
            height: 35px;
            background-color: rgba(255, 68, 0, 0.87);
            margin-top: 5px;
            box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
            font-size: 15;
            &:hover {
                background-color: orangered;
            }
        }
        .sign-up {
            height: 40px;
        }
    }
}

.input {
    width: 100%;
    height: 40px;
    border: none;
    margin: auto;
    padding: 4px;
    box-sizing: border-box;
    border: 2px solid green;
    border: none;
    margin-bottom: 2px;
    font-size: 18;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    &:focus {
        outline-color: royalblue;
    }
}

.resend-link {
    text-decoration: none;
    font-size: 14;
    text-transform: capitalize;
    &:hover {
        text-decoration: underline;
    }
}

#disable {
    background: rgba(128, 128, 128, 0.596) !important;
    pointer-events: none;
}

.feet-finger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.little-finger {
    height: 25px;
    width: 11px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.411);
}

.big-finger {
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 25%;
    height: 50px;
    width: 35px;
    border-radius: 50%;
    margin: auto;
    margin-top: 2px;
}

.eye-white {
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 35px;
}

.eye-manik {
    background-color: yellow;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 1px;
    left: 1px;
}

#left-eye {
    transform: rotate(25deg);
}

#right-eye {
    transform: rotate(-25deg);
}