.menu-options {
    background-color: rgb(82, 79, 79);
    color: white;
    transition: border 0.3s ease-in-out;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    margin: 4px;
    height: unset;
    text-transform: uppercase;
    &:hover {
        border: 1px solid royalblue;
    }
}

.active-menu-tab {
    background-color: rgba(19, 153, 231, 0.945);
    border: 2px solid royalblue;
}

#mess-container {
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    // box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    &:hover {
        box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    }
}

.day-menu-edit-option {
    position: absolute;
    right: 0px;
    top: 0px;
    transition: all 0.3s ease-in-out;
    padding: 7 0 7 0;
    border-radius: 50%;
    // background-color:red;
    span {
        text-decoration: none;
        color: black;
        font-size: 28;
        font-weight: 900;
        padding: 20px;
    }
    &:hover {
        background-color: rgba(128, 128, 128, 0.836);
        cursor: pointer;
        // background-color: rgba(255, 255, 255, 0.856);
    }
}

.toUpdate {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5px;
    z-index: 1;
    transition: all 0.2s linear;
    right: 0px;
    background-color: white;
    color: black;
    height: auto;
    width: auto;
    padding: 0px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    a {
        text-decoration: none;
        color: black;
        padding: 12px 28px 12px 28px;
        // box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
        &:hover {
            background-color: rgba(65, 105, 225, 0.164);
            box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
        }
    }
}