#img-preview {
    width: 100px;
    height: 200px;
    border: 2px dashed #333;
    margin-bottom: 20px;
}

#new-post,
#update-profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    width: 30%;
    min-width: 300px;
    background-color: #ffffff;
    position: relative;
    top: 5%;
    color: black;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    #img-container {
        margin-top: -38px;
        text-align: center;
        img {
            border: 2px solid white;
            margin: auto;
        }
    }
    h3 {
        margin: auto;
        width: 100%;
        border-bottom: 1px solid rgb(76, 76, 216);
        text-align: center;
        padding: 0px 30px 0px 30px;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        text-transform: capitalize;
        color: black;
    }
    div {
        margin: auto;
        width: 90%;
        max-width: 90%;
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            position: relative;
            div {
                display: flex;
                width: 100%;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                input {
                    width: 85%;
                    max-width: 85%;
                    min-width: 85%;
                    margin: 10px;
                    word-wrap: break-word;
                }
            }
            #venu-span {
                color: cadetblue;
                font-size: 18;
                &:hover {
                    text-decoration: underline;
                    font-size: 20;
                    color: royalblue;
                }
            }
            input,
            div,
            textarea {
                margin: 10px;
            }
            textarea {
                resize: vertical;
                min-height: 30px;
            }
            #message-div {
                padding: 0px;
                margin: 2px 10px 10px 10px;
                color: royalblue;
                font-size: 14;
            }
            #preview {
                margin: 3px;
                display: flex;
                justify-content: center;
                height: auto;
                img {
                    max-width: 100%;
                }
            }
            #all_images {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 5px;
                justify-content: center;
                align-items: center;
                img {
                    opacity: 0.4;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            button {
                // padding: 5px 10px 5px 10px;
                // font-weight: 700;
                color: white;
                display: inline-block;
                // width: 50px;
                // max-width: 150px;
                position: relative;
                padding: 10px 20px 10px 20px;
                width: auto;
                font-size: 18;
                font-weight: 700;
                background-color: #0a66c2;
                // border-color: #0a66c2;
                border: none;
                cursor: pointer;
                &:hover {
                    background-color: rgb(40, 73, 172);
                }
            }
        }
    }
}

.apply_disable {
    background-color: gray;
    pointer-events: none;
}