#notices {
    position: relative;
    width: 70%;
    top: 5%;
    left: 18%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .notice {
        width: 200px;
        display: flex;
        margin: 10px;
        flex-direction: column;
        background-color: rgba(218, 213, 213, 0.651);
        position: relative;
        div {
            margin: 5px;
            padding: 0px 5px 0px 5px;
            position: relative;
        }
        .head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: rgba(192, 192, 192, 0.609);
            transition: all 0.4s;
            &:hover {
                background-color: black;
                color: white;
                img {
                    transition: all 0.5s;
                    border: 2px solid rgb(3, 250, 238);
                }
            }
        }
        .content-area {
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .name {
            text-align: center;
        }
        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
            div {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-start !important;
                align-content: center !important;
                span {
                    text-align: center;
                }
                a {
                    text-align: center;
                }
                // .like {
                // }
                .download {
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        .caption {
            max-width: 95%;
        }
    }
}