// #search-tags {
//     background-color: white;
//     color: gray;
//     padding: 15px;
//     position: fixed;
//     top: 20%;
//     div {
//         position: relative;
//         left: 6%;
//         width: 35%;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         flex-wrap: wrap;
//         div {
//             span {
//                 padding: 2px 7px 2px 7px;
//                 border: 2px solid darkgray;
//                 margin: auto;
//                 font-size: 12;
//                 border-radius: 20%/50%;
//             }
//         }
//     }
// }
// #search-tags {
//     background-color: white;
//     color: gray;
//     padding: 15px;
//     position: fixed;
//     top: 60px;
//     z-index: 2;
//     border-radius: 15px;
//     box-shadow: 15px 4px 15px 4px rgba(0, 0, 0, 0.2);
//     display: flex;
//     flex-direction: row;
//     width: 50%;
//     max-width: 50%;
//     div {
//         display: flex;
//         flex-direction: row;
//         width: 100%;
//         max-width: 100%;
//         justify-content: space-evenly;
//         padding: 2px 7px 2px 7px;
//         overflow: hidden;
//         div {
//             span {
//                 border: 2px solid darkgray;
//                 margin: auto;
//                 font-size: 12;
//                 border-radius: 20%/50%;
//                 padding: 5px 10px 5px 10px;
//             }
//         }
//     }
// }
#option-page {
    display: flex;
    flex-direction: column;
    width: 35%;
    min-width: 200px;
    position: relative;
    left: 10%;
    // height: 80%;
    // max-height: 80%;
    // overflow: auto;
    margin: 10px 0px 10px 0px;
    background-color: white;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    color: black;
    &:hover {
        box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
    }
    #option-header {
        position: sticky;
        top: 53;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        background-color: white;
        color: gray;
        padding: 0px;
        z-index: 2;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
        span {
            padding: 1px 9px 1px 9px;
            border: 2px solid darkgray;
            margin: 10px;
            font-size: 14;
            border-radius: 20%/50%;
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease-in-out;
            &:hover {
                box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
                border: 2px solid royalblue;
            }
        }
        .active-search-tab {
            border: 2px solid green;
            // border: 2px solid rgba(41, 41, 41, 0.705);
            background-color: rgb(167, 164, 164);
            color: white;
            box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
        }
    }
    #empty-div,
    #select-user-empty-div {
        color: rgb(27, 1, 1);
        background-color: white;
        margin: 0px;
        margin: 8px;
        padding: 25px;
        border-radius: 2%;
        text-align: center;
        font-size: 22;
        display: none;
        background-color: white;
        // overflow-wrap: break-word;
        word-wrap: break-word;
    }
    .link {
        text-decoration: none;
        color: black;
        background-color: white;
        margin: 0px;
        margin: 8px;
        padding: 25px;
        border-radius: 2%;
        border-bottom: 1px solid black; // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.623);
        // transition: 0.3s;
        display: flex;
        flex-direction: row;
        // align-items: space-between;
        // background-color: yellow;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        word-wrap: break-word;
        .option {
            display: flex;
            flex-direction: row;
            // align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 2px;
            word-wrap: break-word;
            word-break: break-all;
            // background-color: red;
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
            .right-div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: wrap;
                overflow: hidden;
                word-wrap: break-word;
                word-break: break-all;
                padding: 5px;
                div {
                    padding: 0px 2px 0px 2px;
                    word-wrap: break-word;
                    word-break: break-all;
                }
            }
        }
        &:hover {
            box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
        }
    }
}

.select-button {
    position: relative;
    padding: 8px 16px 8px 16px;
    background-color: rgba(65, 105, 225, 0.89);
    border-color: rgba(65, 105, 225, 0.788);
    color: white;
    font-size: 16;
    font-weight: 600;
    border-radius: 5px;
    &:hover {
        background-color: rgb(34, 79, 214);
    }
}