#poll-votes {
    width: 40%;
    max-width: 40%;
    min-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    background-color: #ffffff;
    color: black;
    position: relative;
    top: 5%;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    #img-container {
        margin-top: -38px;
        text-align: center;
        img {
            border: 2px solid white;
            margin: auto;
        }
    }
    h3 {
        margin: auto;
        width: 100%;
        border-bottom: 1px solid rgb(76, 76, 216);
        text-align: center;
        padding: 0px 30px 0px 30px;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow: hidden;
        text-transform: capitalize;
    }
}

#polls {
    width: 100%;
    min-width: 100%;
    margin: 5px 0px 5px 0px;
    position: relative;
    border-radius: 12px;
    background-color: transparent;
    height: auto;
    // box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    // transition: 0.4;
    // &:hover {
    //     box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    // }
    padding: 10px 0px 10px 0px;
    .poll {
        max-width: 100%;
        background-color: rgba(255, 217, 2, 0.699);
        padding: 15px 0px 25px 0px;
        margin: 5px;
        border-radius: 22px;
        position: relative;
        color: white;
        height: auto;
        overflow-wrap: break-word;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        font-size: 18;
        font-weight: 600;
        &:hover {
            box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
        }
        .poll-question {
            text-align: center;
            color: darkslategrey;
            margin-bottom: 10px;
            width: 100%;
            text-transform: uppercase;
        }
        .poll-options {
            background-color: transparent;
            margin: auto;
            // background-color: red;
            display: flex;
            flex-direction: row;
            width: 80%;
            max-width: 100%;
            height: auto;
            background-color: whitesmoke;
            align-items: center;
            box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            a {
                background-color: inherit;
                width: 50%;
                max-width: 50%;
                min-width: 50%;
                overflow-wrap: break-word;
                text-align: center;
                color: black;
                text-decoration: none;
                text-transform: uppercase;
                box-sizing: border-box;
                font-size: 18;
                border: none;
                margin: 0px;
                border-radius: 15px;
                height: inherit; // background-color: red;
                &:hover {
                    font-size: 19;
                }
                div {
                    padding: 10px;
                    margin: 0px;
                    width: 100%;
                    box-sizing: border-box;
                    background-color: transparent;
                }
                .yes-option {
                    // color: lightgreen;
                    // background-color: rgba(44, 105, 44, 0.178);
                    // border-top-left-radius: 15px;
                    // border-bottom-left-radius: 15px;
                    color: #6afd08;
                }
                .no-option {
                    // border-top-right-radius: 15px;
                    // border-bottom-right-radius: 15px;
                    color: #e77204;
                    // color: rgb(190, 92, 74);
                }
            }
        }
    }
}

#votes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    #votes-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        div {
            transition: 0.4;
            box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
            &:hover {
                border: 2px solid gray;
            }
            span {
                pointer-events: none;
            }
        }
    }
    #voter-details {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        border-radius: 5px;
        height: auto;
        overflow: hidden;
        transition: all 0.4s linear;
        margin-top: 10px;
        .like-by {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px;
            margin: 1px;
            box-sizing: border-box;
            background-color: white;
            border-radius: 5px;
            div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 5px;
                align-items: center;
                color: black;
                max-width: 100%;
                box-sizing: border-box;
                box-shadow: none;
                div {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    box-shadow: none;
                }
                button {
                    background-color: royalblue;
                    border-color: white;
                    padding: 8px 16px 8px 16px;
                    color: white;
                    font-weight: 700;
                    &:hover {
                        background-color: blue;
                    }
                }
            }
            transition: 0.4;
            &:hover {
                box-shadow: 0px 1.5px 3px 1.5px rgba(0, 0, 0, 0.2);
            }
        }
        .liked-user-link {
            &:hover {
                img {
                    border: 1px solid rgb(3, 250, 238);
                }
            }
        }
    }
}

.active {
    border: 2px solid gray;
}