#post-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    position: relative;
    margin: 0px 0px 10px 0px;
    position: relative;
    color: black;
    overflow: hidden;
    // overflow: auto;
    .post-class {
        margin: 0px 0px 12px 0px;
        // padding: 6px;
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
        transition: 0.4;
        padding-bottom: 30px;
        &:hover {
            box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
        }
        div {
            margin: 4px 0px 4px 0px;
            padding: 6px;
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
        }
        .post-header {
            // padding: 4px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: black;
            width: 100%;
            position: relative;
            margin-top: 2px;
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 4px;
                a {
                    text-decoration: none;
                    color: white;
                }
                img {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    padding: 5px;
                }
                div {
                    color: white;
                    display: flex;
                    padding: 0px;
                    margin: 0px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    span {
                        margin: 0px;
                        padding: 2.5px;
                    }
                }
            }
        }
        .event-details {
            position: relative;
            width: 100%;
            max-width: 100%;
            box-shadow: none;
            box-sizing: border-box;
            padding: 0px;
            word-wrap: break-word;
            border: none;
            // border-bottom: 1px solid gray;
            display: flex;
            //display: none;
            flex-direction: column;
            padding: 0px 15px 0px 15px;
            box-sizing: border-box;
            height: 0px;
            overflow: hidden;
            margin: 0px;
            .detail-container {
                padding: 5px;
                margin: 5px;
                box-sizing: border-box;
                display: flex;
                border-bottom: 1px;
                flex-direction: row;
                .icon-container {
                    padding: 8px 18px 8px 8px;
                    box-sizing: border-box;
                    // background-color: yellow;
                }
                .detail-values {
                    padding: 2px;
                    display: flex;
                    flex-direction: column;
                    // background-color: red;
                    span {
                        word-wrap: break-word;
                        text-transform: capitalize;
                    }
                    .detail-head {
                        color: rgb(3, 250, 238);
                        border-color: hotpink;
                        font-size: 21;
                    }
                    .detail-value {
                        color: black;
                        font-size: 15;
                        font-weight: 500;
                    }
                }
            }
        }
        .post-main-section {
            margin: auto;
            width: 100%;
            // box-sizing: border-box;
            box-shadow: none;
            // overflow: hidden;
            position: relative;
            img {
                max-width: 100%;
                max-height: 60%;
                height: 60%;
                margin: auto;
                display: none;
                padding: 0px;
                box-shadow: none;
            }
            div {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.719);
                color: white;
                padding: 7px;
                top: 0px;
                right: 4px;
                margin: 0px;
                border-radius: 25px;
                font-size: 13;
                font-weight: 900;
                z-index: 3;
            }
            .button {
                position: absolute;
                padding: 5px;
                background-color: rgba(0, 0, 0, 0.39);
                top: 50%;
                color: white;
                z-index: 3;
                &:hover {
                    background-color: black;
                }
            }
            .back {
                left: 0px;
            }
            .next {
                right: 0px;
            }
        }
        // .post-main-section {
        //     margin: auto;
        //     width: 100%;
        //     // box-sizing: border-box;
        //     box-shadow: none;
        //     height: auto;
        //     // overflow: hidden;
        //     position: relative;
        //     .div-2 {
        //         // display: none;
        //         position: relative;
        //         margin: auto;
        //         // background-color: yellow;
        //         width: 100%;
        //         max-width: 100%;
        //         box-shadow: none;
        //         img {
        //             position: relative;
        //             max-width: 100%;
        //             max-height: 60%;
        //             height: 60%;
        //             margin: auto;
        //             display: none;
        //             padding: 0px;
        //             box-shadow: none;
        //         }
        //         div {
        //             position: absolute;
        //             background-color: rgba(0, 0, 0, 0.719);
        //             color: white;
        //             padding: 7px;
        //             top: 0px;
        //             right: 4px;
        //             margin: 0px;
        //             border-radius: 25px;
        //             font-size: 13;
        //             font-weight: 900;
        //             z-index: 3;
        //         }
        //         .button {
        //             position: absolute;
        //             padding: 5px;
        //             background-color: rgba(0, 0, 0, 0.39);
        //             top: 50%;
        //             color: white;
        //             z-index: 3;
        //             &:hover {
        //                 background-color: black;
        //             }
        //         }
        //         .back {
        //             left: 0px;
        //         }
        //         .next {
        //             right: 0px;
        //         }
        //     }
        //     .div-1 {
        //         // position: absolute;
        //         margin: auto;
        //         max-width: 100%;
        //         box-shadow: none;
        //         top: 0px;
        //         // display: none;
        //     }
        // }
        .main-text-section {
            font-size: 25;
            padding: 25px;
            margin: auto;
            display: inline-block;
            box-sizing: border-box;
            max-width: 100%;
            width: 100%;
            background-color: white;
            height: auto;
            word-wrap: break-word;
            // overflow-wrap: break-word;
        }
        .post-footer {
            display: flex;
            flex-direction: row;
            padding: 5px;
            margin: 10px;
            margin-bottom: 2px;
            justify-content: space-between;
            border-top: 1px solid gray;
            span {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
            }
            .comment-button {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .likes-detail {
            display: flex;
            flex-direction: column;
            padding: 0px 25px 0px 25px;
            background-color: rgba(231, 226, 226, 0.116);
            min-width: 100%;
            margin: 0px;
            overflow: hidden;
            .first-div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                span {
                    font-size: 19;
                    font-weight: 700;
                    a {
                        text-decoration: none;
                        color: rgb(37, 185, 243);
                        &:hover {
                            color: rgb(5, 184, 255);
                            text-decoration: underline;
                        }
                    }
                }
            }
            div {
                max-width: 100%;
                // overflow: hidden;
            }
        }
        .new-comment {
            padding: 5px;
            margin: 10px;
            // margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            form {
                padding: 0px;
                margin: 0px 5px 0px 5px;
                display: flex;
                flex-direction: row;
                width: 100%;
                #comment-input {
                    width: 90%;
                    line-height: 30px;
                    border-radius: 25px;
                    // border-color: gainsboro;
                    border: 2px solid gainsboro;
                    &:hover {
                        box-shadow: 0px 0.5px 1.5px 0.5px rgba(0, 0, 0, 0.2);
                        transition: 0.4;
                    }
                }
                button {
                    width: 7%;
                    background-color: transparent;
                    border: none;
                    border-radius: 0px;
                }
            }
        }
    }
}

.type-detail {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
    cursor: pointer;
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        span {
            padding: 0px 4px 0px 4px;
            font-size: 18;
        }
        .upcoming {
            color: lawngreen;
        }
        .passed {
            color: rgba(196, 37, 37, 0.842);
        }
        .running {
            color: royalblue;
        }
        img {
            background-color: transparent;
        }
    }
    img {
        color: yellow;
        background-color: transparent;
    }
}

.post-edit-option {
    transition: all 0.3s ease-in-out;
    padding: 0;
    border-radius: 50%;
    // background-color:red;
    span {
        text-decoration: none;
        color: white;
        font-size: 28;
        font-weight: 900;
        padding: 2px 16px 2px 16px;
    }
    &:hover {
        background-color: white;
        span {
            color: black;
        }
    }
}

.toUpdate {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8px;
    z-index: 1;
    transition: all 0.2s linear;
    right: 2px;
    background-color: white;
    color: black;
    height: auto;
    width: auto;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    a {
        text-decoration: none;
        color: black;
        font-size: 24;
        padding: 4px 7px 4px 7px;
        box-sizing: border-box;
        // box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
        &:hover {
            background-color: rgba(65, 105, 225, 0.164);
            box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
        }
    }
}

.comment-button {
    &:hover {
        border-bottom: 2px solid rgb(3, 250, 238);
    }
}

.post-creator-link {
    transition: all 0.2s ease-in-out;
    &:hover {
        img {
            transition: all 0.3s ease-in-out;
            border: 1px solid rgb(3, 250, 238);
        }
    }
}