.requests-container {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
    max-width: 40%;
    min-width: 300px;
    padding: 10px;
    margin: auto;
    background-color: transparent;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.4;
    &:hover {
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    }
    div {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 5px;
        margin: 0px 0px 5px 0px;
        div {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
            div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                // background-color: red;
                button {
                    margin: 2px;
                    padding: 10px 20px 10px 20px;
                    font-size: 14;
                    font-weight: 850px;
                    border: none;
                    border-radius: 4px;
                    background-color: royalblue;
                    color: white;
                    box-shadow: 1px 1px 1px 1px rgba(65, 105, 225, 1);
                    transition: 0.3s;
                    &:hover {
                        background-color: rgb(19, 52, 150);
                        box-shadow: 0px 0px 0px 0px rgba(65, 105, 225, 1);
                    }
                }
            }
        }
    }
}

.add-on-hover {
    &:hover {
        img {
            transition: all 0.6s;
            border: 2.5px solid cyan;
        }
    }
}

.request-header {
    display: flex !important;
    flex-direction: row !important;
    background-color: #77d6cd !important;
    div {
        background-color: inherit !important;
        align-items: center !important;
        justify-content: center !important;
        width: 50% !important;
        text-align: right !important;
        margin: 0px !important;
        color: white !important;
        box-sizing: border-box !important;
        &:hover {
            // background-color: rgb(40, 40, 134);
            border-bottom: 2px solid black !important;
        }
    }
    .member-header {
        &:hover {
            border-bottom: none !important;
        }
    }
}