#my-save-items {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 55%;
    min-width: 250px;
    box-sizing: content-box;
    padding: 10px;
    // background-color: red;
    background-color: white;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3;
    color: black;
    &:hover {
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    }
    #save-item-headers {
        width: 100%;
        display: flex;
        flex-direction: column;
        // background-color: red;
        justify-content: center;
        align-items: center;
        word-wrap: break-word;
        padding-bottom: 2px;
        border-bottom: 1px solid blue;
        #heading {
            font-size: 18;
            font-weight: 700;
        }
        #img-container {
            margin-top: -38px;
        }
    }
    #save-item-container {
        padding: 10px;
        // background-color: red;
        margin: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        a {
            text-decoration: none;
            color: black;
            .save-item {
                padding: 10px;
                margin: 10px;
                width: 150px;
                height: 250px;
                // background-color: red;
                //overflow-wrap: break-word;
                word-wrap: break-word;
                word-break: break-all;
                // overflow: hidden;
                box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
                transition: 0.3;
                overflow: auto !important;
                &:hover {
                    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
                }
                img {
                    height: inherit;
                    width: inherit;
                }
            }
        }
    }
}