.container {
    transition: all 1s ease;
    // height: auto;
    overflow: hidden;
    height: auto;
    min-height: 200px;
    // height: 200px;
    // &:hover {
    //     height: 600px;
    // }
}

#team-contaainer {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    &:hover {
        box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    }
}

.tem-member-edit-option {
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 7 0 7 0;
    border-radius: 50%;
    // background-color:red;
    span {
        text-decoration: none;
        color: black;
        font-size: 28;
        font-weight: 900;
        padding: 20px;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.856);
        cursor: pointer;
    }
}

.profile-link {
    text-decoration: none;
    color: white;
    word-wrap: break-word;
    overflow: hidden;
    display: inline-block;
    height: inherit;
    &:hover {
        text-decoration: underline;
    }
}

.toDelete {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5px;
    transition: all 0.2s linear;
    right: 2px;
    background-color: white;
    color: black;
    z-index: 1;
    height: auto;
    width: auto;
    padding: 0px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    a {
        text-decoration: none;
        color: black;
        padding: 10px 25px 10px 25px;
        // box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
        &:hover {
            background-color: rgba(65, 105, 225, 0.164);
            box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
        }
    }
}