<% var url='http://chitkaralive.com';%>
    <div style="
    color: rgb(197, 32, 32);
    padding: 5px;
    font-size: 55px;
    font-weight: 900;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: rgba(34, 33, 33, 0.582);
  ">
        <img src="<%=url%>/uploads/icons/0.aaalogo.png" style="background-color: inherit !important" height="60px" width="110px" alt="logo" />
    </div>
    <br />
    <br />