<% var url='http://chitkaralive.com';%>

    <div style="color: white">
        <h3 style="margin-bottom: 5px">Regards</h3>
        <a href="<%=url%>">
            <!-- <img src="https://www.pngitem.com/pimgs/m/357-3577326_color-ball-logo-hd-png-download.png" alt="logo" style="height: 45px; width: 45px; padding-left: 1px" /> -->
            <img src="<%=url%>/uploads/icons/18.logo.png" alt="logo" style="height: 45px; width: 45px; padding-left: 1px" />
        </a>
        <br />
        <div style="width: fit-content">
            <span style="font-size: 20px; color: rgb(180, 33, 33)">Chitkara_Live</span>
            <br />
            <span style="padding-left: 2px; color: black !important">be connected</span>
        </div>
        <br />

        <span style="color: white !important">For any other query, you can contact us on</span
  >
  <br />
  <span style="display: flex; flex-direction: row">
    <a href="mailTo:aaa.techy.in@gmail.com"
      ><img
        src="<%=url%>/uploads/icons/37.gmail.png"
        alt="Email:"
        style="padding-right: 1.5px; height: 40px; width: 40px"
      />
    </a>
    <a href="mailTo:aaa.techy.in@gmail.com">aaa.techy.in@gmail.com</a></span
  >
</div>