<br />
<br />
<div style="color: white">
    <h3 style="margin-bottom: 5px">Regards</h3>
    <img src="https://www.pngitem.com/pimgs/m/357-3577326_color-ball-logo-hd-png-download.png" alt="" style="height: 45px; width: 45px" />
    <br />
    <div style="width: fit-content">
        <span style="font-size: 20px; color: rgb(180, 33, 33)">Chitkara_Live</span>
        <br />
        <span style="padding-left: 4px; color: black !important">be connected</span>
    </div>
</div>