#add-new-page {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: burlywood;
  width: 50%;
  margin: auto;
}

#add-new-page h1 {
  margin: auto;
  padding: 10px;
  background-color: #2b2929;
}

#add-new-page form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  padding: 15px;
}

#add-new-page form input {
  padding: 10px;
  margin: 10px;
}

#add-new-page form #submit {
  font-weight: 700;
  font-size: 120%;
  background-color: #868585;
}
