.comment-container {
  width: 100%;
  background-color: white;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  display: none;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4;
  transition: 0.4;
}

.comment-container:hover {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.comment-container #comment-head {
  color: #4d4dec;
  padding: 10px 0px 0px 10px;
  font-size: 17;
}

.comment-container .comments {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.comment-container .comments .comment {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0.4px 0.4px 0.4px rgba(0, 0, 0, 0.2);
  transition: 0.4;
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
}

.comment-container .comments .comment:hover {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.comment-container .comments .comment .upper-div-1,
.comment-container .comments .comment .upper-div-2 {
  display: flex;
  flex-direction: row;
}

.comment-container .comments .comment .upper-div-1 div,
.comment-container .comments .comment .upper-div-2 div {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.comment-container .comments .comment .upper-div-1 div a,
.comment-container .comments .comment .upper-div-2 div a {
  text-decoration: none;
  color: black;
}

.comment-container .comments .comment .upper-div-1 div span,
.comment-container .comments .comment .upper-div-2 div span {
  overflow-wrap: break-word;
  max-width: 85%;
}

.comment-container .comments .comment .upper-div-1 {
  width: 80%;
  max-width: 80%;
}

.comment-container .comments .comment .upper-div-2 div {
  align-items: center;
}
