#main-container {
  position: relative;
  top: 0px;
  width: 37%;
  min-width: 400px;
  margin: auto;
}

#main-container div {
  position: relative;
}

#main-container #events-container {
  background-color: rgba(131, 128, 128, 0.52);
  background-color: #838080;
  position: sticky;
  width: 100%;
  margin: auto;
  top: 52px;
  height: auto;
  z-index: 4;
  box-shadow: 0px 3px 3px 3px rgba(48, 47, 47, 0.479);
}

#main-container #events-container #events-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#main-container #events-container #events-head div {
  width: 50%;
  font-weight: 800;
  font-size: 19;
  padding: 15px;
  margin: 1px;
  text-align: center;
}

#main-container #events-container #events-head div:hover {
  border-bottom: 3px solid black;
}

#main-container #events-container #events-head .active-tab {
  background-color: rgba(88, 88, 88, 0.863);
  border-bottom: 3px solid black;
  color: white;
}

#main-container #passed {
  display: none;
}

.no-event-box {
  position: relative;
  top: 20%;
  text-align: center;
  font-size: 22;
  font-weight: 800;
  color: #5f1616;
}
