#main-container {
  position: relative;
  top: 0px;
  width: 37%;
  min-width: 400px;
  margin: auto;
}

#main-container div {
  position: relative;
}

#main-container #events-container {
  background-color: rgba(131, 128, 128, 0.52);
  background-color: #838080;
  position: sticky;
  width: 100%;
  margin: auto;
  top: 52px;
  height: auto;
  z-index: 4;
  box-shadow: 0px 3px 3px 3px rgba(48, 47, 47, 0.479);
}

#main-container #events-container #events-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#main-container #events-container #events-head div {
  width: 50%;
  font-weight: 800;
  font-size: 19;
  padding: 15px;
  margin: 1px;
  text-align: center;
}

#main-container #events-container #events-head div:hover {
  border-bottom: 3px solid black;
}

#main-container #events-container #events-head .active-tab {
  background-color: rgba(88, 88, 88, 0.863);
  border-bottom: 3px solid black;
  color: white;
}

#main-container #passed {
  display: none;
}

#main-container .toUpdate {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8px;
  z-index: 1;
  transition: all 0.2s linear;
  right: 2px;
  background-color: white;
  color: black;
  height: auto;
  width: auto;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

#main-container .toUpdate a {
  text-decoration: none;
  color: black;
  font-size: 24;
  padding: 4px 7px 4px 7px;
  box-sizing: border-box;
}

#main-container .toUpdate a:hover {
  background-color: rgba(65, 105, 225, 0.164);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

#main-container .toUpdateComment {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  z-index: 1;
  transition: all 0.2s linear;
  right: 0px;
  background-color: white;
  color: black;
  height: auto;
  width: auto;
  box-shadow: none;
}

#main-container .toUpdateComment a {
  text-decoration: none;
  color: black;
  font-size: 24;
  padding: 4px;
  box-sizing: border-box;
  box-shadow: none;
}

.no-event-box {
  position: relative;
  top: 20%;
  text-align: center;
  font-size: 22;
  font-weight: 800;
  color: #5f1616;
  margin-top: 10px;
}
