#footer {
  display: flex;
  flex-direction: row;
  background-color: black;
}

#footer a {
  text-decoration: none;
  width: 20%;
  padding: 4px;
  margin: 0px;
  border: 1px solid #2b2a2a;
}

#footer a div {
  width: 100%;
  margin: auto;
  color: white;
  text-align: center;
}
