.toUpdatepoll,
.toUpdatealert,
.toUpdatenotice {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  top: 14px;
  z-index: 1;
  transition: all 0.2s linear;
  right: 14px;
  background-color: white;
  color: black;
  height: fit-content;
  width: fit-content;
  box-shadow: none;
  cursor: pointer;
}

.toUpdatepoll a,
.toUpdatealert a,
.toUpdatenotice a {
  text-decoration: none;
  color: black;
  font-size: 24;
  padding: 4px;
  box-sizing: border-box;
  box-shadow: none;
  background-color: transparent;
}

.toUpdatealert {
  right: 10.5px;
}

.toUpdatenotice {
  top: -2px;
  right: 0px;
}

.poll-edit-link,
.alert-edit-link,
.notice-edit-link {
  transition: all 0.3s ease-in-out;
  padding: 0;
  border-radius: 50%;
  color: black;
  font-size: 30;
  font-weight: 900;
  padding: 2px;
  cursor: pointer;
}

.poll-edit-link:hover,
.alert-edit-link:hover,
.notice-edit-link:hover {
  background-color: white;
  padding: 2px 16px 2px 16px;
}

.poll-edit-link:hover span,
.alert-edit-link:hover span,
.notice-edit-link:hover span {
  color: black;
}

#no-internet {
  position: fixed;
  top: 2px;
  margin: auto;
  /* trick to make absolute/fixed position in center */
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: auto;
  padding: 4px 10px 4px 10px;
  background-color: #ffb326;
  z-index: 454454545;
  color: white;
  font-weight: 500;
  vertical-align: middle;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.toggle-container {
  background-color: #ccc4c4;
  width: 66px;
  height: 26px;
  border-radius: 22px;
  padding: 1.5px;
  position: relative;
  cursor: pointer;
}

.toggle-container-active {
  background-color: #3f6bf0;
}

.toggle-btn {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  left: 0px !important;
  transition: all 0.3s;
}

.toggle-btn-active {
  left: 40px !important;
}

.disable_btn {
  background-color: #7c7c7c !important;
  pointer-events: none;
  border-color: #7c7c7c !important;
  opacity: 0.7;
}

.disable_btn button {
  border-color: #7c7c7c !important;
  background-color: #7c7c7c !important;
}

.disable_btn_without_back {
  opacity: 0.7;
  pointer-events: none;
}
