#likes-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 37%;
  margin: auto;
  max-width: 37%;
  min-width: 400px;
  top: 10.5%;
  background-color: white;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4;
}

#likes-page:hover {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

#likes-page h1 {
  color: #5e5ef1;
  font-size: 18;
  text-align: center;
  border-bottom: 1px solid #cac4c4;
}

#likes-page div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between !important;
  padding: 10px;
  background-color: white;
}

#likes-page div div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  align-items: center;
  color: black;
  max-width: 100%;
  box-shadow: none;
}

#likes-page div div div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  box-shadow: none;
}

#likes-page div div button {
  position: relative;
  padding: 8px 16px 8px 16px;
  background-color: rgba(65, 105, 225, 0.89);
  border-color: rgba(65, 105, 225, 0.788);
  color: white;
  font-size: 16;
  font-weight: 600;
  border-radius: 5px;
}

#likes-page div div button:hover {
  background-color: #224fd6;
}

button {
  background-color: royalblue;
  border-color: white;
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: 700;
  margin: 1px;
}

button:hover {
  background-color: #2222cf;
}

.like-by {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4;
}

.like-by:hover {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.liked-user-link:hover img {
  border: 1px solid #03faee;
}
