#form-container {
  background-color: black;
  border-radius: 8px;
  margin: auto;
}

#form-container #question-form {
  margin: auto;
}

#form-container #question-form div {
  margin: 0px;
  padding: 0px;
}

#form-container input {
  width: 100%;
  max-width: 100%;
  margin: 0px;
}
