#option-page {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 200px;
  position: relative;
  left: 10%;
  margin: 10px 0px 10px 0px;
  background-color: white;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#option-page:hover {
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

#option-page #option-header {
  position: sticky;
  top: 51;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  color: gray;
  padding: 0px;
  z-index: 2;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

#option-page #option-header span {
  padding: 1px 9px 1px 9px;
  border: 2px solid darkgray;
  margin: 10px;
  font-size: 14;
  border-radius: 20%/50%;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

#option-page #option-header span:hover {
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid royalblue;
}

#option-page #option-header .active {
  border: 2px solid green;
  background-color: #a7a4a4;
  color: white;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
}

#option-page #empty-div {
  color: #1b0101;
  background-color: white;
  margin: 0px;
  margin: 8px;
  padding: 25px;
  border-radius: 2%;
  text-align: center;
  font-size: 22;
  display: none;
  background-color: white;
  word-wrap: break-word;
}

#option-page .link {
  text-decoration: none;
  color: black;
  background-color: white;
  margin: 0px;
  margin: 8px;
  padding: 25px;
  border-radius: 2%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#option-page .link .option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2px;
}

#option-page .link .option img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#option-page .link .option .right-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
}

#option-page .link:hover {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.select-button {
  position: relative;
  padding: 8px 16px 8px 16px;
  background-color: rgba(65, 105, 225, 0.89);
  border-color: rgba(65, 105, 225, 0.788);
  color: white;
  font-size: 16;
  font-weight: 600;
  border-radius: 5px;
}

.select-button:hover {
  background-color: #224fd6;
}
