#main-area {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto; }
  #main-area #sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px; }
    #main-area #sections div {
      border: 2px solid #181717;
      width: 33%;
      text-align: center;
      color: white;
      background-color: black;
      padding: 10px; }
  #main-area #content {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    color: white;
    margin-top: 4px; }
    #main-area #content a {
      text-decoration: none;
      color: white; }
      #main-area #content a div {
        display: flex;
        flex-direction: row;
        padding: 10px;
        background-color: #2b2929; }
        #main-area #content a div div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          #main-area #content a div div img {
            height: 100px;
            width: 100px; }

.tabs {
  cursor: pointer; }
  .tabs:hover {
    background-color: gray !important; }

.active-tab {
  background-color: darksalmon !important; }
