#organiser-login {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 30%;
  margin: auto;
  padding: 5px;
  position: relative;
  top: 5%; }
  #organiser-login #header-div {
    margin: auto;
    background-color: #272525;
    margin: 15px;
    padding: 2px; }
  #organiser-login #input-div {
    margin: auto;
    padding: 10px;
    width: 70%; }
    #organiser-login #input-div form {
      display: flex;
      flex-direction: column; }
      #organiser-login #input-div form input {
        padding: 7px;
        margin: 7px;
        background-color: white; }
      #organiser-login #input-div form button {
        padding: 12px;
        margin: 12px;
        background-color: #636262;
        color: white; }
