#poll-votes {
  width: 40%;
  max-width: 40%;
  min-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  background-color: #ffffff;
  color: black;
  position: relative;
  top: 5%;
}

#poll-votes:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#poll-votes #img-container {
  margin-top: -38px;
  text-align: center;
}

#poll-votes #img-container img {
  border: 2px solid white;
  margin: auto;
}

#poll-votes h3 {
  margin: auto;
  width: 100%;
  border-bottom: 1px solid #4c4cd8;
  text-align: center;
  padding: 0px 30px 0px 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow: hidden;
  text-transform: capitalize;
}

#polls {
  width: 100%;
  min-width: 100%;
  margin: 5px 0px 5px 0px;
  position: relative;
  border-radius: 12px;
  background-color: transparent;
  height: auto;
  padding: 10px 0px 10px 0px;
}

#polls .poll {
  max-width: 100%;
  background-color: rgba(255, 217, 2, 0.699);
  padding: 15px 0px 25px 0px;
  margin: 5px;
  border-radius: 22px;
  position: relative;
  color: white;
  height: auto;
  overflow-wrap: break-word;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 18;
  font-weight: 600;
}

#polls .poll:hover {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

#polls .poll .poll-question {
  text-align: center;
  color: darkslategrey;
  margin-bottom: 10px;
  width: 100%;
  text-transform: uppercase;
}

#polls .poll .poll-options {
  background-color: transparent;
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 100%;
  height: auto;
  background-color: whitesmoke;
  align-items: center;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

#polls .poll .poll-options a {
  background-color: inherit;
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  overflow-wrap: break-word;
  text-align: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 18;
  border: none;
  margin: 0px;
  border-radius: 15px;
  height: inherit;
}

#polls .poll .poll-options a:hover {
  font-size: 19;
}

#polls .poll .poll-options a div {
  padding: 10px;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}

#polls .poll .poll-options a .yes-option {
  color: #6afd08;
}

#polls .poll .poll-options a .no-option {
  color: #e77204;
}

#votes {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#votes #votes-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

#votes #votes-header div {
  transition: 0.4;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

#votes #votes-header div:hover {
  border: 2px solid gray;
}

#votes #votes-header div span {
  pointer-events: none;
}

#votes #voter-details {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 5px;
  height: auto;
  overflow: hidden;
  transition: all 0.4s linear;
  margin-top: 10px;
}

#votes #voter-details .like-by {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 1px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  transition: 0.4;
}

#votes #voter-details .like-by div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  align-items: center;
  color: black;
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: none;
}

#votes #voter-details .like-by div div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: none;
}

#votes #voter-details .like-by div button {
  background-color: royalblue;
  border-color: white;
  padding: 8px 16px 8px 16px;
  color: white;
  font-weight: 700;
}

#votes #voter-details .like-by div button:hover {
  background-color: blue;
}

#votes #voter-details .like-by:hover {
  box-shadow: 0px 1.5px 3px 1.5px rgba(0, 0, 0, 0.2);
}

#votes #voter-details .liked-user-link:hover img {
  border: 1px solid #03faee;
}

.active {
  border: 2px solid gray;
}
