#post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  position: relative;
  margin: 5px 0px 5px 0px;
}

#post-container .post {
  margin: 6px 0px 6px 0px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4;
}

#post-container .post:hover {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

#post-container .post div {
  margin: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
}

#post-container .post .post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  width: 100%;
}

#post-container .post .post-header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
}

#post-container .post .post-header div a {
  text-decoration: none;
  color: white;
}

#post-container .post .post-header div img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 5px;
}

#post-container .post .post-header div div {
  color: white;
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#post-container .post .post-header div div span {
  margin: 0px;
  padding: 2.5px;
}

#post-container .post .post-main-section {
  margin: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#post-container .post .post-main-section img {
  max-width: 100%;
  max-height: 60%;
  margin: auto;
  display: none;
  padding: 0px;
}

#post-container .post .post-main-section div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
  padding: 7px;
  top: 0px;
  right: 0px;
  margin: 0px;
  border-radius: 25px;
  font-size: 13;
  font-weight: 900;
}

#post-container .post .post-main-section .button {
  position: absolute;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.39);
  top: 50%;
  color: white;
}

#post-container .post .post-main-section .button:hover {
  background-color: black;
}

#post-container .post .post-main-section .back {
  left: 0px;
}

#post-container .post .post-main-section .next {
  right: 0px;
}

#post-container .post .main-text-section {
  font-size: 25;
  padding: 25px;
  margin: auto;
  max-width: 100%;
  background-color: white;
  height: auto;
}

#post-container .post .post-footer {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px;
  margin-bottom: 2px;
  justify-content: space-between;
  border-top: 1px solid gray;
}

#post-container .post .post-footer span {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#post-container .post .likes-detail {
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
  background-color: rgba(231, 226, 226, 0.116);
  max-width: 96%;
  overflow: hidden;
}

#post-container .post .likes-detail .first-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#post-container .post .likes-detail .first-div span {
  font-size: 19;
  font-weight: 700;
}

#post-container .post .likes-detail .first-div span a {
  text-decoration: none;
  color: #25b9f3;
}

#post-container .post .likes-detail .first-div span a:hover {
  color: #05b8ff;
  text-decoration: underline;
}

#post-container .post .likes-detail div {
  max-width: 100%;
  overflow: hidden;
}

#post-container .post .new-comment {
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#post-container .post .new-comment form {
  padding: 0px;
  margin: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#post-container .post .new-comment form #comment-input {
  width: 90%;
  line-height: 30px;
  border-radius: 25px;
  border: 2px solid gainsboro;
}

#post-container .post .new-comment form #comment-input:hover {
  box-shadow: 0px 0.5px 1.5px 0.5px rgba(0, 0, 0, 0.2);
  transition: 0.4;
}

#post-container .post .new-comment form button {
  width: 7%;
  background-color: transparent;
  border: none;
  border-radius: 0px;
}

.type-detail {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid gray;
}

.type-detail div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.type-detail div span {
  padding: 0px 4px 0px 4px;
  font-size: 18;
}

.type-detail div .upcoming {
  color: lawngreen;
}

.type-detail div .passed {
  color: rgba(196, 37, 37, 0.842);
}

.type-detail div .running {
  color: royalblue;
}

.type-detail div img {
  background-color: transparent;
}

.type-detail img {
  color: yellow;
  background-color: transparent;
}
