<div>
    <%-include('../mail_header');-%>
        <div>
            <h2 style="text-transform: capitalize; text-align: center">
                Don't miss an opportunity or update
            </h2>
            <p style="text-align: center">
                <span style="color: greenyellow; font-size: 20">Monday, dinner</span> menu chnaged by hostel <a>Aaryabhatta</a>
            </p>
            <p style="text-align: center; color: aqua">
                click on below link to see the new menu
            </p>
            <div>
                <a href="link of hostel profile"> new menu </a>
            </div>
        </div>

        <%-include('../mail_footer');-%>
</div>