<div>
    <%-include('../mail_header');-%>
        <div>
            <h2 style="text-transform: capitalize; text-align: center">
                Don't miss an opportunity or update
            </h2>
            <div style="height: 120px">
                <img src="cdcd" alt="alert sign" height="80px" width="120px" style="margin: auto" />
            </div>
            <p style="text-align: center">
                Recently a new alert is added, see it before disappearing
            </p>
            <p style="color: hotpink">click here to see it</p>
        </div>

        <%-include('../mail_footer');-%>
</div>