<div>
    <%-include('../mail_header');-%>
        <div>
            <h2 style="text-transform: capitalize; text-align: center">
                Don't miss an opportunity or update
            </h2>
            <div style="height: 120px">
                <img src="cdcd" alt="event gif" height="80px" width="120px" style="margin: auto" />
            </div>
            <p style="text-align: center">Recently a new event is added</p>
            <p>To know about the event like</p>
            <ul>
                <li>Event status its running,upcoming...</li>
                <li>Event start and end date....</li>
                <li style="color: hotpink">
                    Event location,and your distance from event location...
                </li>
                <li>Event image or many more...</li>
            </ul>
            <p style="text-align: center; color: aqua">click on below event image</p>
            <div>
                <a href="fdfdfd">
                    <img src="ds" alt="post" height="40px" width="40px" />
                </a>
            </div>
        </div>

        <%-include('../mail_footer');-%>
</div>