<link rel="stylesheet" href="/css/organiser_my_profile.css" />
<div id="my-profile">
    <div>
        <img src="<%=locals.my.pic%>" alt="profile pic not available" height="100px" width="100px" style="border-radius: 50%" />
        <span><%=locals.my.name%></span>
        <span><%=locals.my.bio%></span>
    </div>
    <div id="right-div">
        <a href="/organiser/edit-profile-page"><button>Edit Profile</button></a>
        <a href=""><button>Contact</button></a>
    </div>
</div>